body {
    background-color: white;
}

#app-header {
    background-color: grey;
    color: white;
    text-align: center;
}

#watermark {
    font-size: 20px;
}

a {
    color: white;
}

.cand-box {
    width: 10cm;
    background-color: rgba(180, 180, 180, 0.553);  
    text-align: center;
    border-radius: 4px;
    border: 2px solid black;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.645);
    margin: auto;
    margin-bottom: 10px;
}

#depest {
    margin-bottom: 8px;
}

label {
    display: block;
    color: black;

    font-size: 15px;
}

.candinput {
    border-radius: 8px;
    width: 2cm;
    text-align: center;
}

.btn {
    border: 1px solid black;
    font-size: 16px;
}

#candidates-display {
    background-color: rgb(255, 255, 255);
}

#card-title {
    color: black;
    font-size: 20px;
}

.cand-number {
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-bottom: 2px;
}

@media (max-width: 700px) {
    body {
        background: none;
    }    
}