body {
    background: linear-gradient(70deg, darkblue, teal);
    background-color: rgb(1, 39, 111);
}

#app-header {
    background-color: rgb(0, 0, 177);
    color: white;
    text-align: center;
}

#watermark {
    font-size: 20px;
}

a {
    color: white;
}

.cand-box {
    width: 10cm;
    background-color: cadetblue;  
    text-align: center;
    border-radius: 4px;
    border: 2px solid black;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.645);
    margin: auto;
    margin-bottom: 10px;
}

#depest {
    margin-bottom: 8px;
}

label {
    display: block;
    color: white;
    font-size: 15px;
}

.candinput {
    border-radius: 8px;
    width: 2cm;
    text-align: center;
}

.btn {
    border: 1px solid black;
    font-size: 16px;
}

#candidates-display {
    background-color: rgb(41, 166, 166);
}

#card-title {
    color: white;
    font-size: 20px;
}

.cand-number {
    font-size: 16px;
    color: wheat;
    font-weight: 600;
}

@media (max-width: 700px) {
    body {
        background: none;
        background-color: teal;
    }    
}