@media print {
    body * {
        visibility: hidden;
    }
    #candidates-display, label, .cand-number, #card-title {
        visibility: visible;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    #candidates-display {
        border-radius: none;
        margin: auto;
        width: 8cm;
        box-shadow: none;
        border: none;
    }
    #card-title {
        font-size: 24px;
    }
    label {
        font-size: 22px!important;
    }
    .cand-number {
        font-size: 20px!important;
    }
    .btn {
        visibility: hidden !important;
    }
}