#candidates-form {
    width: 10cm;
    background-color: cadetblue;  
    text-align: center;
    border-radius: 4px;
    border: 2px solid black;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.645);
    margin: auto;
}

label {
    display: block;
    color: white;
}

.candinput {
    border-radius: 8px;
    width: 2cm;
    text-align: center;
    margin-bottom: 10px;
}