#app-header {
    background-color: rgb(0, 0, 177);
    color: white;
    text-align: center;
}

#watermark {
    font-size: 20px;
}

a {
    color: white;
}

.cand-box {
    width: 10cm;
    background-color: cadetblue;  
    text-align: center;
    border-radius: 4px;
    border: 2px solid black;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.645);
    margin: auto;
    margin-bottom: 10px;
}

#depest {
    margin-bottom: 8px;
}

label {
    display: block;
    color: white;
    font-size: 15px;
}

.candinput {
    border-radius: 8px;
    width: 2cm;
    text-align: center;
}

.btn-success {
    border: 1px solid black;
    font-size: 16px;
}

#candidates-display {
    background-color: rgb(41, 166, 166);
}

#card-title {
    color: white;
}

.cand-number {
    font-size: 14px;
    color: wheat;
    font-weight: 600;
}

@media print {
    body * {
        visibility: hidden;
    }
    #candidates-display, label, .cand-number, #card-title {
        visibility: visible;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    #candidates-display {
        border-radius: none;
        margin: auto;
        width: 8cm;
        height: 11.5cm;
        box-shadow: none;
        border: none;
    }
    label {
        font-size: 22px;
    }
    .cand-number {
        font-size: 20px;
    }
    .btn {
        visibility: hidden !important;
    }
}