header, footer {
    font-size: 30px;
}
.colinha {
    position: relative;
    margin: auto;
    background-color: rgba(43, 200, 43, 0.563) !important;
    width: 10cm;
    text-align: center;
    top: 1cm;
}

.candtitle {
    font-size: 25px;
}

.numboxers {
    display: inline;
    font-size: 30px;
    font-weight: 800;
}

.candinput {
    font-size: 20px;
}

#depfed {
    width: 1.6cm;
}

#depest {
    width: 2cm;
}

#sen {
    width: 1.4cm;
}

#gov, #pres {
    width: 1.1cm;
}


#inputs {
    font-size: 30px;
    text-align: center;
}

.callbuttons {
    position: relative;
    background-color: rgb(128, 199, 246);
    font-size: 25px;
    border-color: blue;
    border-radius: 2px;
}
#generate, #print {
    top: 0.4cm;
}

@media print {
    body * {
        visibility: hidden;
    }
    
    .colinha *, .colinha {
        visibility: visible;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact ;
    }
    
    .colinha {
        position: fixed;
        left: 0;
        right: 0;
        width: 10cm;
        height: 16cm;
        background-color: rgba(43, 200, 43, 0.563) 
    }
}