#candidates-form {
    width: 10cm;
    background-color: cadetblue;  
    text-align: center  
}

label {
    display: block;
}

.candinput {
    border-radius: 8px;
    width: 2cm;
    text-align: center;
}